.elementor-129 .elementor-element.elementor-element-ab71eeb>.elementor-container {
  max-width: 1170px;
}

.elementor-129 .elementor-element.elementor-element-ab71eeb:not(.elementor-motion-effects-element-type-background), .elementor-129 .elementor-element.elementor-element-ab71eeb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../2021/07/hands-of-young-man-by-sewing-machine-working-over-one-of-orders-of-clients.jpg");
  background-position: 0px 50%;
  background-size: cover;
}

.elementor-129 .elementor-element.elementor-element-ab71eeb>.elementor-background-overlay {
  background-color: #000000;
  opacity: 0.6;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-129 .elementor-element.elementor-element-ab71eeb {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 60px;
  padding: 300px 0px 0px 0px;
}

.elementor-129 .elementor-element.elementor-element-3d2366cf>.elementor-container {
  max-width: 1170px;
}

.elementor-129 .elementor-element.elementor-element-3d2366cf {
  margin-top: 0px;
  margin-bottom: -65px;
  padding: 0px 0px 0px 0px;
}

.elementor-129 .elementor-element.elementor-element-32edd6f2.elementor-column>.elementor-widget-wrap {
  justify-content: center;
}

.elementor-129 .elementor-element.elementor-element-32edd6f2:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap, .elementor-129 .elementor-element.elementor-element-32edd6f2>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}

.elementor-129 .elementor-element.elementor-element-32edd6f2>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 10px 30px 10px;
}

.elementor-129 .elementor-element.elementor-element-32edd6f2>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-129 .elementor-element.elementor-element-60dde8a9 .jeg-elementor-kit.jkit-post-title {
  text-align: center;
}

.elementor-129 .elementor-element.elementor-element-60dde8a9 .jeg-elementor-kit.jkit-post-title .post-title, .elementor-129 .elementor-element.elementor-element-60dde8a9 .jeg-elementor-kit.jkit-post-title .post-title a {
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  line-height: var(--e-global-typography-secondary-line-height);
}

.elementor-129 .elementor-element.elementor-element-60dde8a9 .jeg-elementor-kit.jkit-post-title .post-title.style-color, .elementor-129 .elementor-element.elementor-element-60dde8a9 .jeg-elementor-kit.jkit-post-title .post-title.style-color a {
  color: #FFFFFF;
}

.elementor-129 .elementor-element.elementor-element-60dde8a9>.elementor-widget-container {
  margin: 0px 0px -10px 0px;
}

.elementor-129 .elementor-element.elementor-element-209d4495 .elementor-icon-wrapper {
  text-align: left;
}

.elementor-129 .elementor-element.elementor-element-209d4495.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-209d4495.elementor-view-framed .elementor-icon, .elementor-129 .elementor-element.elementor-element-209d4495.elementor-view-default .elementor-icon {
  color: var(--e-global-color-accent);
  border-color: var(--e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-209d4495.elementor-view-framed .elementor-icon, .elementor-129 .elementor-element.elementor-element-209d4495.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-209d4495 .elementor-icon {
  font-size: 16px;
}

.elementor-129 .elementor-element.elementor-element-209d4495 .elementor-icon i, .elementor-129 .elementor-element.elementor-element-209d4495 .elementor-icon svg {
  transform: rotate(0deg);
}

.elementor-129 .elementor-element.elementor-element-209d4495 {
  width: auto;
  max-width: auto;
}

.elementor-129 .elementor-element.elementor-element-38d5607f .jeg-elementor-kit.jkit-post-author {
  text-align: left;
}

.elementor-129 .elementor-element.elementor-element-38d5607f .jeg-elementor-kit.jkit-post-author .post-author, .elementor-129 .elementor-element.elementor-element-38d5607f .jeg-elementor-kit.jkit-post-author .post-author a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
  color: #FFFFFF;
}

.elementor-129 .elementor-element.elementor-element-38d5607f>.elementor-widget-container {
  margin: 0px 0px 0px 10px;
}

.elementor-129 .elementor-element.elementor-element-38d5607f {
  width: auto;
  max-width: auto;
}

.elementor-129 .elementor-element.elementor-element-67eb9fb0 .elementor-icon-wrapper {
  text-align: left;
}

.elementor-129 .elementor-element.elementor-element-67eb9fb0.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-67eb9fb0.elementor-view-framed .elementor-icon, .elementor-129 .elementor-element.elementor-element-67eb9fb0.elementor-view-default .elementor-icon {
  color: var(--e-global-color-accent);
  border-color: var(--e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-67eb9fb0.elementor-view-framed .elementor-icon, .elementor-129 .elementor-element.elementor-element-67eb9fb0.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-67eb9fb0 .elementor-icon {
  font-size: 16px;
}

.elementor-129 .elementor-element.elementor-element-67eb9fb0 .elementor-icon i, .elementor-129 .elementor-element.elementor-element-67eb9fb0 .elementor-icon svg {
  transform: rotate(0deg);
}

.elementor-129 .elementor-element.elementor-element-67eb9fb0>.elementor-widget-container {
  margin: 0px 0px 0px 20px;
}

.elementor-129 .elementor-element.elementor-element-67eb9fb0 {
  width: auto;
  max-width: auto;
}

.elementor-129 .elementor-element.elementor-element-1cfc06d .jeg-elementor-kit.jkit-post-date {
  text-align: center;
}

.elementor-129 .elementor-element.elementor-element-1cfc06d .jeg-elementor-kit.jkit-post-date .post-date, .elementor-129 .elementor-element.elementor-element-1cfc06d .jeg-elementor-kit.jkit-post-date .post-date a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
  color: #FFFFFF;
}

.elementor-129 .elementor-element.elementor-element-1cfc06d>.elementor-widget-container {
  margin: 0px 0px 0px 10px;
}

.elementor-129 .elementor-element.elementor-element-1cfc06d {
  width: auto;
  max-width: auto;
}

.elementor-129 .elementor-element.elementor-element-1262e288 .elementor-icon-wrapper {
  text-align: left;
}

.elementor-129 .elementor-element.elementor-element-1262e288.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-1262e288.elementor-view-framed .elementor-icon, .elementor-129 .elementor-element.elementor-element-1262e288.elementor-view-default .elementor-icon {
  color: var(--e-global-color-accent);
  border-color: var(--e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-1262e288.elementor-view-framed .elementor-icon, .elementor-129 .elementor-element.elementor-element-1262e288.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-1262e288 .elementor-icon {
  font-size: 16px;
}

.elementor-129 .elementor-element.elementor-element-1262e288 .elementor-icon i, .elementor-129 .elementor-element.elementor-element-1262e288 .elementor-icon svg {
  transform: rotate(0deg);
}

.elementor-129 .elementor-element.elementor-element-1262e288>.elementor-widget-container {
  margin: 0px 0px 0px 20px;
}

.elementor-129 .elementor-element.elementor-element-1262e288 {
  width: auto;
  max-width: auto;
}

.elementor-129 .elementor-element.elementor-element-74cc9e29 .jeg-elementor-kit.jkit-post-terms {
  text-align: center;
}

.elementor-129 .elementor-element.elementor-element-74cc9e29 .jeg-elementor-kit.jkit-post-terms .post-terms, .elementor-129 .elementor-element.elementor-element-74cc9e29 .jeg-elementor-kit.jkit-post-terms .term-list, .elementor-129 .elementor-element.elementor-element-74cc9e29 .jeg-elementor-kit.jkit-post-terms .term-list a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
  color: #FFFFFF;
}

.elementor-129 .elementor-element.elementor-element-74cc9e29>.elementor-widget-container {
  margin: 0px 0px 0px 10px;
}

.elementor-129 .elementor-element.elementor-element-74cc9e29 {
  width: auto;
  max-width: auto;
}

.elementor-129 .elementor-element.elementor-element-18d91ee6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 120px 0px;
}

.elementor-129 .elementor-element.elementor-element-18d91ee6>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-129 .elementor-element.elementor-element-77eb9949>.elementor-element-populated {
  margin: 0px 20px 0px 0px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 0px;
}

.elementor-129 .elementor-element.elementor-element-2badc586 .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  line-height: var(--e-global-typography-secondary-line-height);
}

.elementor-129 .elementor-element.elementor-element-212f48 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}

.elementor-129 .elementor-element.elementor-element-f1b5c54 .jeg-elementor-kit.jkit-post-featured-image {
  text-align: center;
}

.elementor-129 .elementor-element.elementor-element-f1b5c54 .jeg-elementor-kit.jkit-post-featured-image .post-featured-image img {
  border-radius: 0px 0px 0px 0px;
}

.elementor-129 .elementor-element.elementor-element-1364a04d {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}

.elementor-129 .elementor-element.elementor-element-1de310f4 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}

.elementor-129 .elementor-element.elementor-element-2e2192f3 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}

.elementor-129 .elementor-element.elementor-element-35b18805>.elementor-container>.elementor-column>.elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.elementor-129 .elementor-element.elementor-element-35b18805 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.elementor-129 .elementor-element.elementor-element-318cc850>.elementor-element-populated {
  margin: 0px 15px 0px 0px;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 0px;
}

.elementor-129 .elementor-element.elementor-element-4905f50d>.elementor-element-populated {
  margin: 0px 0px 0px 15px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 15px;
}

.elementor-129 .elementor-element.elementor-element-4e53c4a0 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px/2);
}

.elementor-129 .elementor-element.elementor-element-4e53c4a0 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(10px/2);
}

.elementor-129 .elementor-element.elementor-element-4e53c4a0 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(10px/2);
  margin-left: calc(10px/2);
}

.elementor-129 .elementor-element.elementor-element-4e53c4a0 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-10px/2);
  margin-left: calc(-10px/2);
}

body.rtl .elementor-129 .elementor-element.elementor-element-4e53c4a0 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-10px/2);
}

body:not(.rtl) .elementor-129 .elementor-element.elementor-element-4e53c4a0 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-10px/2);
}

.elementor-129 .elementor-element.elementor-element-4e53c4a0 .elementor-icon-list-icon i {
  color: var(--e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-4e53c4a0 .elementor-icon-list-icon svg {
  fill: var(--e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-4e53c4a0 {
  --e-icon-list-icon-size: 14px;
}

.elementor-129 .elementor-element.elementor-element-4e53c4a0 .elementor-icon-list-text {
  color: var(--e-global-color-text);
}

.elementor-129 .elementor-element.elementor-element-13c978a4 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}

.elementor-129 .elementor-element.elementor-element-49ad9541 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}

.elementor-129 .elementor-element.elementor-element-6f3fd452 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}

.elementor-129 .elementor-element.elementor-element-22cc5d67>.elementor-container>.elementor-column>.elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.elementor-129 .elementor-element.elementor-element-22cc5d67 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-129 .elementor-element.elementor-element-38438de9.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-129 .elementor-element.elementor-element-38438de9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-129 .elementor-element.elementor-element-38438de9.elementor-column>.elementor-widget-wrap {
  justify-content: flex-start;
}

.elementor-129 .elementor-element.elementor-element-5ee138ce {
  text-align: left;
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
  width: 16.798%;
  max-width: 16.798%;
}

.elementor-129 .elementor-element.elementor-element-5ee138ce>.elementor-widget-container {
  margin: 0px 5px 0px 0px;
}

.elementor-129 .elementor-element.elementor-element-3305198e .jeg-elementor-kit.jkit-post-terms {
  text-align: left;
}

.elementor-129 .elementor-element.elementor-element-3305198e .jeg-elementor-kit.jkit-post-terms .post-terms, .elementor-129 .elementor-element.elementor-element-3305198e .jeg-elementor-kit.jkit-post-terms .term-list, .elementor-129 .elementor-element.elementor-element-3305198e .jeg-elementor-kit.jkit-post-terms .term-list a {
  font-family: var(--e-global-typography-a8a2cde-font-family), Sans-serif;
  font-size: var(--e-global-typography-a8a2cde-font-size);
  font-weight: var(--e-global-typography-a8a2cde-font-weight);
  line-height: var(--e-global-typography-a8a2cde-line-height);
  letter-spacing: var(--e-global-typography-a8a2cde-letter-spacing);
  word-spacing: var(--e-global-typography-a8a2cde-word-spacing);
  color: var(--e-global-color-primary);
}

.elementor-129 .elementor-element.elementor-element-3305198e {
  width: auto;
  max-width: auto;
}

.elementor-bc-flex-widget .elementor-129 .elementor-element.elementor-element-4408ef4b.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-129 .elementor-element.elementor-element-4408ef4b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-129 .elementor-element.elementor-element-4408ef4b.elementor-column>.elementor-widget-wrap {
  justify-content: flex-end;
}

.elementor-129 .elementor-element.elementor-element-724c8239 {
  text-align: right;
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
  width: auto;
  max-width: auto;
}

.elementor-129 .elementor-element.elementor-element-724c8239>.elementor-widget-container {
  margin: 0px 5px 0px 0px;
}

.elementor-129 .elementor-element.elementor-element-3b3b058f .jeg-elementor-kit.jkit-social-share {
  text-align: center;
  --icon-size: 16px;
}

.elementor-129 .elementor-element.elementor-element-3b3b058f .jeg-elementor-kit.jkit-social-share .social-share-list>li.elementor-repeater-item-e461d32 a {
  color: #FFFFFF;
  background-color: var(--e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-3b3b058f .jeg-elementor-kit.jkit-social-share .social-share-list>li.elementor-repeater-item-e461d32 a svg {
  fill: #FFFFFF;
}

.elementor-129 .elementor-element.elementor-element-3b3b058f .jeg-elementor-kit.jkit-social-share .social-share-list>li.elementor-repeater-item-05e922a a {
  color: #FFFFFF;
  background-color: var(--e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-3b3b058f .jeg-elementor-kit.jkit-social-share .social-share-list>li.elementor-repeater-item-05e922a a svg {
  fill: #FFFFFF;
}

.elementor-129 .elementor-element.elementor-element-3b3b058f .jeg-elementor-kit.jkit-social-share .social-share-list>li.elementor-repeater-item-0bf393d a {
  color: #FFFFFF;
  background-color: var(--e-global-color-accent);
}

.elementor-129 .elementor-element.elementor-element-3b3b058f .jeg-elementor-kit.jkit-social-share .social-share-list>li.elementor-repeater-item-0bf393d a svg {
  fill: #FFFFFF;
}

.elementor-129 .elementor-element.elementor-element-3b3b058f .jeg-elementor-kit.jkit-social-share .social-share-list>li a {
  text-align: center;
  border-radius: 50px 50px 50px 50px;
  width: 40px;
  height: 40px;
  line-height: 38px;
}

.elementor-129 .elementor-element.elementor-element-3b3b058f .jeg-elementor-kit.jkit-social-share .social-share-list>li {
  display: inline-block;
  margin: 10px 10px 10px 10px;
}

.elementor-129 .elementor-element.elementor-element-3b3b058f {
  width: auto;
  max-width: auto;
}

.elementor-129 .elementor-element.elementor-element-12384668 {
  --divider-border-style: solid;
  --divider-color: #E7E7E7;
  --divider-border-width: 1px;
}

.elementor-129 .elementor-element.elementor-element-12384668 .elementor-divider-separator {
  width: 100%;
  margin: 0 auto;
  margin-center: 0;
}

.elementor-129 .elementor-element.elementor-element-12384668 .elementor-divider {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.elementor-129 .elementor-element.elementor-element-12384668>.elementor-widget-container {
  margin: 40px 0px 10px 0px;
}

.elementor-129 .elementor-element.elementor-element-6d2d40c8>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10px 10px 40px 40px;
}

.elementor-129 .elementor-element.elementor-element-6d2d40c8>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-129 .elementor-element.elementor-element-7656abde, .elementor-129 .elementor-element.elementor-element-7656abde>.elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}

.elementor-129 .elementor-element.elementor-element-7656abde {
  box-shadow: 0px 3px 30px 0px rgba(0, 50.99999999999999, 78, 0.10980392156862745);
  margin-top: 0px;
  margin-bottom: 0px;
}

.elementor-129 .elementor-element.elementor-element-1dcfc214>.elementor-element-populated, .elementor-129 .elementor-element.elementor-element-1dcfc214>.elementor-element-populated>.elementor-background-overlay, .elementor-129 .elementor-element.elementor-element-1dcfc214>.elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}

.elementor-129 .elementor-element.elementor-element-1dcfc214>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 40px 20px 40px;
}

.elementor-129 .elementor-element.elementor-element-1dcfc214>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-129 .elementor-element.elementor-element-31b6352c .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-8a1e830-font-family), Sans-serif;
  font-size: var(--e-global-typography-8a1e830-font-size);
  font-weight: var(--e-global-typography-8a1e830-font-weight);
  line-height: var(--e-global-typography-8a1e830-line-height);
  letter-spacing: var(--e-global-typography-8a1e830-letter-spacing);
  word-spacing: var(--e-global-typography-8a1e830-word-spacing);
}

.elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist.layout-horizontal .jkit-posts {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-column-gap: 0px;
}

.elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article {
  text-align: left;
}

.elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article a {
  margin: 0px 0px 20px 0px;
}

.elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article a .jkit-postlist-title {
  text-align: left;
  color: var(--e-global-color-primary);
  padding: 0px 0px 5px 0px;
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}

.elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article:hover a .jkit-postlist-title {
  color: var(--e-global-color-secondary);
}

.elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article a .meta-lists {
  text-align: left;
}

.elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article a .meta-lists span {
  font-family: var(--e-global-typography-4926f98-font-family), Sans-serif;
  font-size: var(--e-global-typography-4926f98-font-size);
  font-weight: var(--e-global-typography-4926f98-font-weight);
  line-height: var(--e-global-typography-4926f98-line-height);
  letter-spacing: var(--e-global-typography-4926f98-letter-spacing);
  word-spacing: var(--e-global-typography-4926f98-word-spacing);
  color: var(--e-global-color-text);
}

.elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article a .meta-lists span i {
  font-size: 12px;
}

.elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article a .meta-lists span svg {
  width: 12px;
  fill: var(--e-global-color-text);
}

.elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article a .meta-lists span i, .elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article a .meta-lists span svg {
  margin-right: 5px;
}

.elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postblock .jeg_empty_module {
  text-align: left;
}

.elementor-129 .elementor-element.elementor-element-e6d1207:not(.elementor-motion-effects-element-type-background), .elementor-129 .elementor-element.elementor-element-e6d1207>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../2021/07/woman-working-in-textile-industry-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-129 .elementor-element.elementor-element-e6d1207>.elementor-background-overlay {
  background-color: #000000;
  opacity: 0.75;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-129 .elementor-element.elementor-element-e6d1207, .elementor-129 .elementor-element.elementor-element-e6d1207>.elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}

.elementor-129 .elementor-element.elementor-element-e6d1207 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 40px;
  margin-bottom: 0px;
  padding: 40px 40px 40px 40px;
}

.elementor-129 .elementor-element.elementor-element-5751a24 .elementor-heading-title {
  color: #FFFFFF;
  font-family: var(--e-global-typography-8a1e830-font-family), Sans-serif;
  font-size: var(--e-global-typography-8a1e830-font-size);
  font-weight: var(--e-global-typography-8a1e830-font-weight);
  line-height: var(--e-global-typography-8a1e830-line-height);
  letter-spacing: var(--e-global-typography-8a1e830-letter-spacing);
  word-spacing: var(--e-global-typography-8a1e830-word-spacing);
}

.elementor-129 .elementor-element.elementor-element-5bec0263 {
  color: #FFFFFF;
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}

.elementor-129 .elementor-element.elementor-element-365b706 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px/2);
}

.elementor-129 .elementor-element.elementor-element-365b706 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(10px/2);
}

.elementor-129 .elementor-element.elementor-element-365b706 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(10px/2);
  margin-left: calc(10px/2);
}

.elementor-129 .elementor-element.elementor-element-365b706 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-10px/2);
  margin-left: calc(-10px/2);
}

body.rtl .elementor-129 .elementor-element.elementor-element-365b706 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-10px/2);
}

body:not(.rtl) .elementor-129 .elementor-element.elementor-element-365b706 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-10px/2);
}

.elementor-129 .elementor-element.elementor-element-365b706 .elementor-icon-list-icon i {
  color: var(--e-global-color-secondary);
}

.elementor-129 .elementor-element.elementor-element-365b706 .elementor-icon-list-icon svg {
  fill: var(--e-global-color-secondary);
}

.elementor-129 .elementor-element.elementor-element-365b706 {
  --e-icon-list-icon-size: 14px;
}

.elementor-129 .elementor-element.elementor-element-365b706 .elementor-icon-list-text {
  color: #FFFFFF;
  padding-left: 8px;
}

.elementor-129 .elementor-element.elementor-element-365b706 .elementor-icon-list-item>.elementor-icon-list-text, .elementor-129 .elementor-element.elementor-element-365b706 .elementor-icon-list-item>a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}

.elementor-129 .elementor-element.elementor-element-30f85371, .elementor-129 .elementor-element.elementor-element-30f85371>.elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}

.elementor-129 .elementor-element.elementor-element-30f85371 {
  box-shadow: 0px 3px 30px 0px rgba(0, 50.99999999999999, 78, 0.10980392156862745);
  margin-top: 40px;
  margin-bottom: 0px;
}

.elementor-129 .elementor-element.elementor-element-2bb42ee2>.elementor-element-populated, .elementor-129 .elementor-element.elementor-element-2bb42ee2>.elementor-element-populated>.elementor-background-overlay, .elementor-129 .elementor-element.elementor-element-2bb42ee2>.elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}

.elementor-129 .elementor-element.elementor-element-2bb42ee2>.elementor-element-populated {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 40px 40px 40px;
}

.elementor-129 .elementor-element.elementor-element-2bb42ee2>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-129 .elementor-element.elementor-element-59abbd84 .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-8a1e830-font-family), Sans-serif;
  font-size: var(--e-global-typography-8a1e830-font-size);
  font-weight: var(--e-global-typography-8a1e830-font-weight);
  line-height: var(--e-global-typography-8a1e830-line-height);
  letter-spacing: var(--e-global-typography-8a1e830-letter-spacing);
  word-spacing: var(--e-global-typography-8a1e830-word-spacing);
}

.elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist {
  text-align: left;
}

.elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist.layout-horizontal .category-list-item {
  margin-right: calc(40px/2);
  margin-left: calc(40px/2);
}

.elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist.layout-vertical .category-list-item:not(:last-child) {
  padding-bottom: calc(40px/2);
}

.elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist .category-list-item .jkit-categorylist-content {
  color: var(--e-global-color-primary);
}

.elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist .category-list-item:hover .jkit-categorylist-content {
  color: var(--e-global-color-secondary);
}

.elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist .category-list-item>a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}

.elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list i {
  color: var(--e-global-color-secondary);
}

.elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list svg {
  fill: var(--e-global-color-secondary);
}

.elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list i, .elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list svg {
  margin-right: 25px;
}

@media(max-width:1024px) {
  .elementor-129 .elementor-element.elementor-element-ab71eeb:not(.elementor-motion-effects-element-type-background), .elementor-129 .elementor-element.elementor-element-ab71eeb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: 0px 0px;
  }

  .elementor-129 .elementor-element.elementor-element-60dde8a9 .jeg-elementor-kit.jkit-post-title {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-60dde8a9 .jeg-elementor-kit.jkit-post-title .post-title, .elementor-129 .elementor-element.elementor-element-60dde8a9 .jeg-elementor-kit.jkit-post-title .post-title a {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-38d5607f .jeg-elementor-kit.jkit-post-author {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-38d5607f .jeg-elementor-kit.jkit-post-author .post-author, .elementor-129 .elementor-element.elementor-element-38d5607f .jeg-elementor-kit.jkit-post-author .post-author a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-1cfc06d .jeg-elementor-kit.jkit-post-date {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-1cfc06d .jeg-elementor-kit.jkit-post-date .post-date, .elementor-129 .elementor-element.elementor-element-1cfc06d .jeg-elementor-kit.jkit-post-date .post-date a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-74cc9e29 .jeg-elementor-kit.jkit-post-terms {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-74cc9e29 .jeg-elementor-kit.jkit-post-terms .post-terms, .elementor-129 .elementor-element.elementor-element-74cc9e29 .jeg-elementor-kit.jkit-post-terms .term-list, .elementor-129 .elementor-element.elementor-element-74cc9e29 .jeg-elementor-kit.jkit-post-terms .term-list a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-18d91ee6 {
    padding: 80px 10px 80px 10px;
  }

  .elementor-129 .elementor-element.elementor-element-77eb9949>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-129 .elementor-element.elementor-element-2badc586 .elementor-heading-title {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-212f48 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-f1b5c54 .jeg-elementor-kit.jkit-post-featured-image {
    text-align: center;
  }

  .elementor-129 .elementor-element.elementor-element-1364a04d {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-1de310f4 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-2e2192f3 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-13c978a4 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-49ad9541 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-6f3fd452 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-5ee138ce {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    width: initial;
    max-width: initial;
  }

  .elementor-129 .elementor-element.elementor-element-3305198e .jeg-elementor-kit.jkit-post-terms {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-3305198e .jeg-elementor-kit.jkit-post-terms .post-terms, .elementor-129 .elementor-element.elementor-element-3305198e .jeg-elementor-kit.jkit-post-terms .term-list, .elementor-129 .elementor-element.elementor-element-3305198e .jeg-elementor-kit.jkit-post-terms .term-list a {
    font-size: var(--e-global-typography-a8a2cde-font-size);
    line-height: var(--e-global-typography-a8a2cde-line-height);
    letter-spacing: var(--e-global-typography-a8a2cde-letter-spacing);
    word-spacing: var(--e-global-typography-a8a2cde-word-spacing);
  }

  .elementor-129 .elementor-element.elementor-element-4408ef4b.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
  }

  .elementor-129 .elementor-element.elementor-element-724c8239 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    width: auto;
    max-width: auto;
  }

  .elementor-129 .elementor-element.elementor-element-3b3b058f .jeg-elementor-kit.jkit-social-share {
    text-align: center;
  }

  .elementor-129 .elementor-element.elementor-element-3b3b058f .jeg-elementor-kit.jkit-social-share .social-share-list>li {
    display: inline-block;
    margin: 5px 5px 5px 5px;
  }

  .elementor-129 .elementor-element.elementor-element-6d2d40c8>.elementor-element-populated {
    margin: 60px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 10px 0px 10px;
  }

  .elementor-129 .elementor-element.elementor-element-31b6352c .elementor-heading-title {
    font-size: var(--e-global-typography-8a1e830-font-size);
    line-height: var(--e-global-typography-8a1e830-line-height);
    letter-spacing: var(--e-global-typography-8a1e830-letter-spacing);
    word-spacing: var(--e-global-typography-8a1e830-word-spacing);
  }

  .elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist.layout-horizontal .jkit-posts {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article a .jkit-postlist-title {
    text-align: left;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article a .meta-lists {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article a .meta-lists span {
    font-size: var(--e-global-typography-4926f98-font-size);
    line-height: var(--e-global-typography-4926f98-line-height);
    letter-spacing: var(--e-global-typography-4926f98-letter-spacing);
    word-spacing: var(--e-global-typography-4926f98-word-spacing);
  }

  .elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postblock .jeg_empty_module {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-5751a24 .elementor-heading-title {
    font-size: var(--e-global-typography-8a1e830-font-size);
    line-height: var(--e-global-typography-8a1e830-line-height);
    letter-spacing: var(--e-global-typography-8a1e830-letter-spacing);
    word-spacing: var(--e-global-typography-8a1e830-word-spacing);
  }

  .elementor-129 .elementor-element.elementor-element-5bec0263 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-365b706 .elementor-icon-list-item>.elementor-icon-list-text, .elementor-129 .elementor-element.elementor-element-365b706 .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-59abbd84 .elementor-heading-title {
    font-size: var(--e-global-typography-8a1e830-font-size);
    line-height: var(--e-global-typography-8a1e830-line-height);
    letter-spacing: var(--e-global-typography-8a1e830-letter-spacing);
    word-spacing: var(--e-global-typography-8a1e830-word-spacing);
  }

  .elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist .category-list-item>a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list i, .elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list svg {
    margin-right: 15px;
  }
}

@media(max-width:767px) {
  .elementor-129 .elementor-element.elementor-element-ab71eeb:not(.elementor-motion-effects-element-type-background), .elementor-129 .elementor-element.elementor-element-ab71eeb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: 0px 0px;
  }

  .elementor-129 .elementor-element.elementor-element-ab71eeb {
    padding: 140px 0px 0px 0px;
  }

  .elementor-129 .elementor-element.elementor-element-32edd6f2>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-129 .elementor-element.elementor-element-60dde8a9 .jeg-elementor-kit.jkit-post-title {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-60dde8a9 .jeg-elementor-kit.jkit-post-title .post-title, .elementor-129 .elementor-element.elementor-element-60dde8a9 .jeg-elementor-kit.jkit-post-title .post-title a {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-38d5607f .jeg-elementor-kit.jkit-post-author {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-38d5607f .jeg-elementor-kit.jkit-post-author .post-author, .elementor-129 .elementor-element.elementor-element-38d5607f .jeg-elementor-kit.jkit-post-author .post-author a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-1cfc06d .jeg-elementor-kit.jkit-post-date {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-1cfc06d .jeg-elementor-kit.jkit-post-date .post-date, .elementor-129 .elementor-element.elementor-element-1cfc06d .jeg-elementor-kit.jkit-post-date .post-date a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-74cc9e29 .jeg-elementor-kit.jkit-post-terms {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-74cc9e29 .jeg-elementor-kit.jkit-post-terms .post-terms, .elementor-129 .elementor-element.elementor-element-74cc9e29 .jeg-elementor-kit.jkit-post-terms .term-list, .elementor-129 .elementor-element.elementor-element-74cc9e29 .jeg-elementor-kit.jkit-post-terms .term-list a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-18d91ee6 {
    padding: 40px 10px 40px 10px;
  }

  .elementor-129 .elementor-element.elementor-element-2badc586 .elementor-heading-title {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-212f48 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-f1b5c54 .jeg-elementor-kit.jkit-post-featured-image {
    text-align: center;
  }

  .elementor-129 .elementor-element.elementor-element-1364a04d {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-1de310f4 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-2e2192f3 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-318cc850>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-129 .elementor-element.elementor-element-4905f50d>.elementor-element-populated {
    margin: 20px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-129 .elementor-element.elementor-element-13c978a4 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-49ad9541 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-6f3fd452 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-22cc5d67 {
    padding: 0px 0px 0px 0px;
  }

  .elementor-129 .elementor-element.elementor-element-5ee138ce {
    text-align: left;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    width: 35%;
    max-width: 35%;
  }

  .elementor-129 .elementor-element.elementor-element-3305198e .jeg-elementor-kit.jkit-post-terms {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-3305198e .jeg-elementor-kit.jkit-post-terms .post-terms, .elementor-129 .elementor-element.elementor-element-3305198e .jeg-elementor-kit.jkit-post-terms .term-list, .elementor-129 .elementor-element.elementor-element-3305198e .jeg-elementor-kit.jkit-post-terms .term-list a {
    font-size: var(--e-global-typography-a8a2cde-font-size);
    line-height: var(--e-global-typography-a8a2cde-line-height);
    letter-spacing: var(--e-global-typography-a8a2cde-letter-spacing);
    word-spacing: var(--e-global-typography-a8a2cde-word-spacing);
  }

  .elementor-bc-flex-widget .elementor-129 .elementor-element.elementor-element-4408ef4b.elementor-column .elementor-widget-wrap {
    align-items: center;
  }

  .elementor-129 .elementor-element.elementor-element-4408ef4b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }

  .elementor-129 .elementor-element.elementor-element-4408ef4b.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start;
  }

  .elementor-129 .elementor-element.elementor-element-4408ef4b>.elementor-element-populated {
    margin: 10px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-129 .elementor-element.elementor-element-724c8239 {
    text-align: left;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    width: 30%;
    max-width: 30%;
  }

  .elementor-129 .elementor-element.elementor-element-3b3b058f .jeg-elementor-kit.jkit-social-share {
    text-align: center;
  }

  .elementor-129 .elementor-element.elementor-element-3b3b058f .jeg-elementor-kit.jkit-social-share .social-share-list>li {
    display: inline-block;
    margin: 5px 5px 5px 5px;
  }

  .elementor-129 .elementor-element.elementor-element-12384668>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
  }

  .elementor-129 .elementor-element.elementor-element-6d2d40c8>.elementor-element-populated {
    margin: 20px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-129 .elementor-element.elementor-element-7656abde {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .elementor-129 .elementor-element.elementor-element-1dcfc214>.elementor-element-populated {
    padding: 30px 30px 30px 30px;
  }

  .elementor-129 .elementor-element.elementor-element-31b6352c .elementor-heading-title {
    font-size: var(--e-global-typography-8a1e830-font-size);
    line-height: var(--e-global-typography-8a1e830-line-height);
    letter-spacing: var(--e-global-typography-8a1e830-letter-spacing);
    word-spacing: var(--e-global-typography-8a1e830-word-spacing);
  }

  .elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist.layout-horizontal .jkit-posts {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article a .jkit-postlist-title {
    text-align: left;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article a .meta-lists {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postlist article a .meta-lists span {
    font-size: var(--e-global-typography-4926f98-font-size);
    line-height: var(--e-global-typography-4926f98-line-height);
    letter-spacing: var(--e-global-typography-4926f98-letter-spacing);
    word-spacing: var(--e-global-typography-4926f98-word-spacing);
  }

  .elementor-129 .elementor-element.elementor-element-3963854f .jeg-elementor-kit.jkit-postblock .jeg_empty_module {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-e6d1207 {
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 30px 30px 30px 30px;
  }

  .elementor-129 .elementor-element.elementor-element-5751a24 .elementor-heading-title {
    font-size: var(--e-global-typography-8a1e830-font-size);
    line-height: var(--e-global-typography-8a1e830-line-height);
    letter-spacing: var(--e-global-typography-8a1e830-letter-spacing);
    word-spacing: var(--e-global-typography-8a1e830-word-spacing);
  }

  .elementor-129 .elementor-element.elementor-element-5bec0263 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-365b706 .elementor-icon-list-item>.elementor-icon-list-text, .elementor-129 .elementor-element.elementor-element-365b706 .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-30f85371 {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .elementor-129 .elementor-element.elementor-element-2bb42ee2>.elementor-element-populated {
    padding: 30px 30px 30px 30px;
  }

  .elementor-129 .elementor-element.elementor-element-59abbd84 .elementor-heading-title {
    font-size: var(--e-global-typography-8a1e830-font-size);
    line-height: var(--e-global-typography-8a1e830-line-height);
    letter-spacing: var(--e-global-typography-8a1e830-letter-spacing);
    word-spacing: var(--e-global-typography-8a1e830-word-spacing);
  }

  .elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist {
    text-align: left;
  }

  .elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist .category-list-item>a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list i, .elementor-129 .elementor-element.elementor-element-64861553 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list svg {
    margin-right: 5px;
  }
}

@media(min-width:768px) {
  .elementor-129 .elementor-element.elementor-element-77eb9949 {
    width: 65%;
  }

  .elementor-129 .elementor-element.elementor-element-38438de9 {
    width: 47.571%;
  }

  .elementor-129 .elementor-element.elementor-element-4408ef4b {
    width: 52.429%;
  }

  .elementor-129 .elementor-element.elementor-element-6d2d40c8 {
    width: 35%;
  }
}

@media(max-width:1024px) and (min-width:768px) {
  .elementor-129 .elementor-element.elementor-element-77eb9949 {
    width: 100%;
  }

  .elementor-129 .elementor-element.elementor-element-38438de9 {
    width: 40%;
  }

  .elementor-129 .elementor-element.elementor-element-4408ef4b {
    width: 60%;
  }

  .elementor-129 .elementor-element.elementor-element-6d2d40c8 {
    width: 100%;
  }
}

.elementor-element.elementor-element-3b3b058f .jeg-elementor-kit.jkit-social-share .social-share-list>li a {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-3b3b058f .jeg-elementor-kit.jkit-social-share .social-share-list>li a {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .elementor-element.elementor-element-3b3b058f .jeg-elementor-kit.jkit-social-share .social-share-list>li a {
    margin-left: auto;
    margin-right: auto;
  }
}
